/*Flexbox Styling*/

.flexbox-container{
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: row;
}

.container-images{
    overflow: hidden;
    object-fit: cover;
    height: 200px;
}

.flexbox-container h1{
    margin-bottom: 10px;
    font-weight: 900;
    letter-spacing: 3px;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    border-bottom: 1px solid black;
    text-align: center;
}

/*Information Styling*/

.info-1, .info-2, .info-3{
    background: rgb(226, 226, 226);
    margin: 3px;
    flex: 1;    
    padding: 30px;
    font-size: 18px;
}

/*Media Queries*/

.flexbox-container{
    text-transform: uppercase;
    color: rgb(24, 24, 24);
}

@media (max-width: 1100px){
    .flexbox-container{
        flex-direction: column-reverse;
    }
    .info-1, .info-2, .info-3{
        font-size: 12px;
    }
}

/*Media Query For Title Font Size of Deforestation Box*/

@media (max-width: 360px){
    #deforestation{
        font-size: 15px;
    }
}