/* Global Usage */

*{
    margin: 0 auto;
    padding: 0;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    line-height: 2;
    background-color: rgb(236, 234, 234);
}

/* Header */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 12%;
}

#brand{
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
}

#callout-padding{
    padding: 10px 0 10px 0;
}

header{
    background-color: rgb(65, 65, 65);
    border-bottom: 1px solid black;
}

header ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    transition-duration: 0.4s;
}

header .highlight, header .current a{
    font-weight: bold;
}

header a:hover{
    color: rgb(223, 182, 0);
}

/* Callout Styling */

.callout{
    text-align: center;
    background-color: rgb(236, 234, 234);
    text-transform: uppercase;
    color: rgb(37, 37, 37);
}

.callout h2{
    display: inline;
}

#underline{
    display: inline;
    text-decoration: underline;
    color: rgb(182, 0, 0);
}

.iframe-container{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0; 
    margin-bottom: 50px;
}
.iframe-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Gallery Styling */

.flexbox-container{
    display: flex;
    justify-content: space-evenly;
}

.flexbox-item{
    width: 15%;
    background-color: rgb(175, 175, 175);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    padding: 20px;
    margin: 1px;
    overflow: hidden;
}

.flexbox-item p{
    text-align: center;
}


.item-1{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/burningforest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-2{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/farmerpollution.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-3{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/oilspill.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-4{
    height: 500px;
    width: 50%;
}

.item-5{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/icecaps.jpg");
    background-size: cover;
}

.item-6{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/oceanpollution.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-7{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/airpollution.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
  width: 500px;
  height: 500px;
}

.container-images{
    display: block;
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 850px;
    object-fit: cover;
}

/* Newsletter Styling */

.newsletter{
    background-color: rgb(65, 65, 65);
    color: white;
    height: 250px;
}

.newsletter-left{
    text-align: center;
    padding-top: 50px;
}

.newsletter-right{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.newsletter h1{
    text-transform: uppercase;
    font-size: 18px;
}

.newsletter p{
    font-size: 14px;
    line-height: 20px;
    padding: 0px 9px 0px 9px;
    color: rgb(179, 179, 179);
}

.button-1:hover {
  background-color: rgb(223, 182, 0);
  color: rgb(39, 39, 39);
}

.button-1{
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #d3d3d3;
    color: rgb(34, 34, 34);
    cursor: pointer;
    border-style: none;
    transition-duration: 0.5s;
    outline: none;
    }

input{
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #d3d3d3;
    color: rgb(34, 34, 34);
    cursor: text;
    border-style: none;
    outline: none;
    }