.who-container{
    width: 80%;
    text-align: left;
}

.who-container h1{
    padding-top: 40px;
    font-size: 30px;
    font-weight: medium;
}

.who-container h2{
    padding-top: 40px;
}

.iframe-container{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    margin-bottom: 50px;
}
.iframe-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.flexbox-container{
    display: flex;
    justify-content: space-evenly;
}
