/* Callout Styling */

.callout{
    text-align: center;
    background-color: rgb(236, 234, 234);
    text-transform: uppercase;
    color: rgb(37, 37, 37);
}

.callout h2{
    display: inline;
}

#underline{
    display: inline;
    color: rgb(182, 0, 0);
}

/* Youtube Video Styling */

.iframe-container{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    margin-bottom: 50px;
}
.iframe-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 460px){
    .callout h2{
        font-size: 12px;
    }
}

@media (min-width: 1800px){
    .iframe-container{
        max-width: 90%;
    }
}

/* Gallery Styling */

.flexbox-container{
    display: flex;
    justify-content: space-evenly;
}

.flexbox-item{
    width: 15%;
    background-color: rgb(112, 105, 105);
    border: 1px solid rgb(236, 234, 234);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 1px;
    overflow: hidden;
    background-position: center;
    font-weight: 900;
    -webkit-text-stroke: 0.5px rgb(122, 122, 122);
}

.flexbox-item p{
    text-align: center;
}

.item-1{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/burningforest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-2{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/farmerpollution.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-3{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/oilspill.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-4{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/theearth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-4 p{
    font-size: 26px;
    padding: 180px 20px 180px 20px;
}

.item-5{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/icecaps.jpg");
    background-size: cover;
}

.item-6{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/oceanpollution.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.item-7{
    height: 500px;
    width: 50%;
    background-image: url("../assets/img/airpollution.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 500px;
    height: 500px;
}

.container-images{
    display: block;
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 850px;
    object-fit: cover;
}

/* Media Queries */

@media (min-width: 830px){
    #slider{
        display: none;
    }

    .slider-bottom-text{ 
        display: none;
    }
}    

/* Media Queries Styling For Image Slider in Mobile View */

@media (max-width: 830px){
    #slider{
        overflow: hidden;
    }

    #slider figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }   

    .slider-bottom-text{
        padding: 10px 0 10px 0;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(41, 41, 41);
        border: 1px solid  rgb(179, 177, 177);
    }

    #slider figure img{
        width: 20%;
        float: left;
    }

    @keyframes slider{
        0%{
            left: 0;  
        }

        20%{
            left: 0;
        }

        25%{
            left: -100%;
        }

        45%{
            left: -100%;
        }

        50%{
            left: -200%;
        }

        70%{
            left: -200%;
        }

        75%{
            left: -300%;
        }

        95%{
            left: -300%;
        }

        100%{
            left: -400%;
        }
    }
}

@media (max-width: 600px){
    img {
        width: 250px;
        height: 250px;
    }
}

/* Media Queries For Hiding All Flexboxes In Mobile View */

@media (max-width: 830px){
    .item-1{
        display: none;
    }

    .item-2{
        display: none;
    }

    .item-3{
        display: none;
    }

    .item-4{
        display: none;

    }
    .item-5{
        display: none;
    }

    .item-6{
        display: none;
    }

    .item-7{
        display: none;
    }
}

/* Media Queries For Flexbox Size Of Middle Image with Text in Different View Sizes */

@media (min-width: 1800px){
    .flexbox-container{
        max-width: 1920px;
    }
}

@media (max-width: 1400px){
    .item-4 p{
        font-size: 26px;
        padding: 140px 20px 180px 20px;
    }
}

@media (max-width: 970px){
    .item-4 p{
        padding-top: 100px;
    }
}

@media (max-width: 865px){
    .item-4 p{
        padding-top: 80px;
    }
}