.iframe-container{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.iframe-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.flexbox-container{
    display: flex;
    justify-content: space-around;
}

.flexbox-item{
    width: 15%;
    background-color: rgb(56, 56, 56);
    border: 1px solid rgb(236, 234, 234);
    color: rgb(0, 0, 0);
    margin: 1px;
    overflow: hidden;
    background-position: center;
}

.item-1{
    padding: 20px;
    height: 500px;
    width: 60%;
    text-align: center;
}

.item-2{
    padding: 10px 0 10px 0;
    height: 500px;
    width: 40%;
}

.about-header{
    background-color: rgb(65, 65, 65);
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 10px auto;
    border: 1px solid black;

/*.who-container{
    width: 70%;
    margin: left;
    overflow: hidden;
    text-align: left;
}

.who-container h1{
    padding-top: 40px;
    font-size: 30px;
    font-weight: medium;
}
*/