/* Global Usage */

*{
    margin: 0 auto;
    padding: 0;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    line-height: 2;
    background-color: rgb(236, 234, 234);
}

/* Header */

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 12%;
    
}

header h1{
    font-weight: 400;
}

#brand{
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
}

#callout-padding{
    padding: 10px 0 10px 0;
}

header{
    background-color: rgb(65, 65, 65);
    border-bottom: 1px solid black;
}

header ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    transition-duration: 0.4s;
}

header .highlight, header .current a{
    font-weight: 900;
}

header a:hover{
    color: rgb(223, 182, 0);
}

@media (max-width: 900px){

    #brand{
        text-align: center;
        font-size: 25px;
    }

    header ul li{
        display: flex;
        justify-content: column;
    }
}

@media (max-width: 500px){

    #brand{
        text-align: center;
        font-size: 16px;
    }

    header ul li{
        display: flex;
        justify-content: column;
    }
}

@media (min-width: 500px){
    
    #callout-padding{
        padding: 40px 0 40px 0;
    }
}

@media (max-width: 1100px){
    .item-4 p{
        font-size: 26px;
        padding: 100px 20px 180px 20px;
    }
}

/* Newsletter Styling */

.newsletter{
    background-color: rgb(65, 65, 65);
    color: white;
    height: 250px;
}

.newsletter-left{
    text-align: center;
    padding-top: 50px;
}

.newsletter-right{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.newsletter h1{
    text-transform: uppercase;
    font-size: 18px;
}

.newsletter p{
    font-size: 14px;
    line-height: 20px;
    padding: 0px 9px 0px 9px;
    color: rgb(179, 179, 179);
}

.button-1:hover{
    background-color: rgb(223, 182, 0);
    color: rgb(39, 39, 39);
}

.button-1{
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #d3d3d3;
    color: rgb(34, 34, 34);
    cursor: pointer;
    border-style: none;
    transition-duration: 0.5s;
    outline: none;
    }

input{
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #d3d3d3;
    color: rgb(34, 34, 34);
    cursor: text;
    border-style: none;
    outline: none;
    }

@media (min-width: 735px){

 .newsletter{
        display: flex;
        justify-content: center;
        height: 200px;
    }

     .newsletter-left{
        text-align: left;
    }

    .newsletter-left p{
        width: 400px;
    }

    .newsletter-right{
        padding-top: 70px;
        box-sizing: border-box;
    }

    .newsletter h1{
        padding: 0px 9px 0px 9px;
    }
}

/* Footer Styling */

.master-footer{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(236, 234, 234);
}

.secondary-nav .highlight, .secondary-nav .current a{
    color: rgb(190, 190, 190);
    font-weight: bold;
}

.secondary-nav a:hover{
    color: rgb(223, 182, 0);
}

.secondary-nav ul li a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    transition: 0.4s;
}

li{
    list-style-type: none;
}

.nav-socials-contact-title{
    color: rgb(36, 36, 36);
}

nav .nav-socials-contact{
    line-height: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.nav-socials-contact{
    color: rgb(155, 155, 155);
}

#copyright{
    font-size: 12px;
    color: rgb(177, 177, 177);
}

@media (min-width: 860px) {

    .secondary-nav{
        display: flex;
}
     #box-1{
        flex: 2;
    }

    #box-2{
        flex: 0;
    }

    #box-3{
        flex: 3;
    }  

    nav .nav-socials-contact{
        line-height: 35px;
        padding-top: 30px;
        padding-bottom: 40px;
    }
}
