/* Donation Form Styling */

.sign-up{
    max-width: 700px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}

form h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
    border-bottom: 1px solid black;
    display: block;
}

/* Basic Input & Box Card Number Styling*/

.form-input, .card-input{
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #d3d3d3;
    color: rgb(34, 34, 34);
    cursor: text;
    border-style: none;
    outline: none;
}

.form-input{
    width: 100%;
}

.card-input{
    width: 24.64%;
}

.sign-up p{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    border-bottom: 1px solid black;
    display: block;
}

/* Flexbox Styling */

.flexbox-container{
    display: flex;
}

/* Radio Button Styling */

.flexbox-item{
    display: flex;
    align-items: center;
}

.radio{
    margin-right: 5px;
}

/* Media Queries For Card Input Width */

@media (max-width: 740px){
    .card-input{
        width: 24.5%;
    }
}

@media (max-width: 600px){
    .card-input{
        width: 24.4%;
    }
}

@media (max-width: 460px){
    .card-input{
        width: 24.1%;
    }
}

@media (max-width: 320px){
    .card-input{
        width: 24%;
    }
}